html, body {
    height: 100%;
    background-color: #9ca8ba; /* Gray */   
}

.titlebox {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: white;
}

.titlebox .name {
    font-size: 50px;
}

.titlebox .titleline{
    font-style: italic;
}

.portfolio {
    padding: 10px;
    margin: 0px;
}

[id="keyboard"] {
    text-align: center;
}

[id="keyboard"] .row.shiftLeft {
    margin-left: -11em;
}

[id="keyboard"] span.key {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 0.25em;
    color: white;
    width: 2.25em;
    height: 2.25em;
    line-height: 2.25em;
    margin: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    border-bottom: 1px solid currentColor;
}

[id="keyboard"] span::after {
    content: attr(title);
    display: block;
}

[id="keyboard"].showQwerty span::after {
    content: attr(id);
}

[id="keyboard"] span.sharp::after {
    position: absolute;
    line-height: 1.5em;
    width: 2em;
    height: 2em;
    font-size: 0.5em;
}

[id="keyboard"] span[id=" "] {
    width: 17em;
}

[id="keyboard"] span[id="#"] {
    width: 4em;
}

[id="keyboard"] span[id="#"]::after {
    content: "Sharp";
}

[id="keyboard"].showQwerty span[id="#"]::after {
    content: "Shift";
}

[id="keyboard"].sharp span[id="#"] {
    background-color:gray;
}

[id="keyboard"] span[id="F"]::after,
[id="keyboard"] span[id="J"]::after {
    text-shadow: -2px 2px #770000;;
}

[id="keyboard"] span[id="#"],
[id="keyboard"] span[id="`"],
[id="keyboard"] span[id="1"],
[id="keyboard"] span[id="2"],
[id="keyboard"] span[id="3"],
[id="keyboard"] span[id="4"],
[id="keyboard"] span[id="5"],
[id="keyboard"] span[id="6"],
[id="keyboard"] span[id="7"],
[id="keyboard"] span[id="8"],
[id="keyboard"] span[id="9"],
[id="keyboard"] span[id="0"],
[id="keyboard"] span[id="-"],
[id="keyboard"] span[id="["],
[id="keyboard"] span[id="]"],
[id="keyboard"] span[id="="] {
    background-color: #ADD8E6; /* Blue */
}

[id="keyboard"] span.active,
[id="keyboard"] span:active {
    background-color: gray;
}

.MIDISounds {
    display: none !important;
}